commands:
  install_opencv_rpm:
    command: yum -y install ftp://rpmfind.net/linux/centos/7.2.1511/os/x86_64/Packages/opencv-2.4.5-3.el7.x86_64.rpm
    command: yum -y install ftp://195.220.108.108/linux/mageia/distrib/4/x86_64/media/core/updates/lib64opencv_video2-2.4.6.1-2.1.mga4.x86_64.rpm
    command: yum -y install ftp://195.220.108.108/linux/mageia/distrib/4/x86_64/media/core/updates/lib64opencv_core2-2.4.6.1-2.1.mga4.x86_64.rpm
    command: yum -y install ftp://195.220.108.108/linux/mageia/distrib/cauldron/x86_64/media/core/release/lib64ffmpeg-devel-2.8.6-3.mga6.x86_64.rpm
    command: yum -y install ftp://rpmfind.net/linux/opensuse/update/leap/42.1-test/x86_64/gtk2-devel-2.24.30-8.3.x86_64.rpm
    command: yum -y install ftp://rpmfind.net/linux/opensuse/update/13.2/x86_64/gdk-pixbuf-devel-2.31.6-6.1.x86_64.rpm
    command: yum -y install ftp://rpmfind.net/linux/fedora/linux/updates/23/x86_64/g/gdk-pixbuf2-2.32.3-1.fc23.x86_64.rpm
    command: yum -y install ftp://rpmfind.net/linux/fedora/linux/updates/23/x86_64/l/libpng-1.6.19-2.fc23.x86_64.rpm
    command: yum -y install ftp://rpmfind.net/linux/mageia/distrib/cauldron/x86_64/media/core/release/lib64png16_16-1.6.21-1.mga6.x86_64.rpm
    command: yum -y install ftp://rpmfind.net/linux/mageia/distrib/cauldron/x86_64/media/core/release/lib64png12_0-1.2.56-1.mga6.x86_64.rpm
    command: yum -y install ftp://rpmfind.net/linux/fedora/linux/updates/23/x86_64/g/glib2-2.46.2-1.fc23.x86_64.rpm