Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.11
Werkzeug==0.11.5
awsebcli==3.7.5
blessed==1.9.5
botocore==1.4.11
cement==2.8.2
colorama==0.3.7
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
ebcli==4.0.14
itsdangerous==0.24
jmespath==0.9.0
keyring==9.0
keyrings.alt==1.1.1
numpy==1.11.0rc2
pathspec==0.3.4
python-dateutil==2.5.2
requests==2.9.1
semantic-version==2.5.0
six==1.10.0
texttable==0.8.4
wcwidth==0.1.6
websocket-client==0.37.0
wsgiref==0.1.2
