packages:
  yum:
    gcc: []
    gcc-c++: []
    gtk2-devel: []
    libdc1394-devel: []
    libv4l-devel: []
    ffmpeg-devel: []
    gstreamer-plugins-base-devel: []
    libpng-devel: []
    libjpeg-turbo-devel: []
    jasper-devel: []
    openexr-devel: []
    libtiff-devel: []
    libwebp-devel: []
    tbb-devel: []
    eigen3-devel: []

commands:
  install_opencv_rpm:
    command: yum -y install ftp://rpmfind.net/linux/centos/7.2.1511/os/x86_64/Packages/opencv-2.4.5-3.el7.x86_64.rpm
