commands:
    install_imageproc_packages:
        command: sudo yum -y install libtiff-devel libjpeg-devel libzip-devel freetype-devel lcms2-devel libwebp-devel tcl-devel tk-devel lapack lapack-devel blas blas-devel 
    setting_pythonpath:
        command: export PYTHONPATH=$PYTHONPATH:/usr/local/lib/python2.7/site-packages

files:
  "/opt/python/log/my.log" :
   mode: "000666"
   owner: ec2-user
   group: ec2-user
   content: |
       # Askbot log file